@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

.romantic {
  float: left;
  width: 478px;
  margin-right: 30px;
  border: 2px solid #e400a2;
}

ul {
  list-style: armenian;
}

h2 {
  color: #e400a1
}

section {
  margin-top: 50px;
}

.Eblya {
  color: #e400a7;
}
